

@media screen and (min-width: 1000px) {
  html {
    font-size: 1.4em;
  }
  .wrapper
  {
   position: relative;
    width:100%;
    padding:2rem;
    border-radius:var(--radius);
    margin:6rem auto;
    padding-top:8%;
  background-size: cover;
  }
  body{

      background-image:url("demir.png");
      background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
  }
}

@media screen and (max-width: 1000px) {
  html {
    font-size: 2.1em;
  }
}
@media screen and (max-width: 1000px) {
  .wrapper
  {
    width:100%;
    margin:6rem auto;
    padding-top:13%;


  }
  body{

        background-image:url("dargiris.png");
        background-repeat: no-repeat;
   background-attachment: fixed;
   background-size:cover;
  }
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #eee;

}
